<div class="w-full max-w-xl bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-6">
  <%= link_to 'javascript:history.back()' do %>
    <div class="inline-block rounded-full px-2 py-2 hover:bg-gray-400/30">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
      </svg>
    </div>
  <% end %>
  <div class="px-4">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'space-y-6' }) do |f| %>
      <%= f.error_notification %>
      <h2 class="text-2xl font-medium text-gray-900">Edit <%= resource_name.to_s.humanize %></h2>

      <div class="form-inputs space-y-6">
        <%= f.input :name,
                    required: false,
                    autofocus: true,
                    lebel_html: { class: 'block mb-2 text-sm font-medium text-gray-900' },
                    input_html: { autocomplete: "name", class: 'bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' }%>
        <%= f.input :email,
                      required: true,
                      lebel_html: { class: 'block mb-2 text-sm font-medium text-gray-900' },
                      input_html: { autocomplete: "email", class: 'bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' }%>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password,
                    required: false,
                    hint: "leave it blank if you don't want to change it",
                    hint_html: { class: 'font-thin text-sm' },
                    lebel_html: { class: 'block mb-2 text-sm font-medium text-gray-900' },
                    input_html: { autocomplete: "new-password", class: 'bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' } %>
        <%= f.input :password_confirmation,
                    required: false,
                    hint: "leave it blank if you don't want to change it",
                    hint_html: { class: 'font-thin text-sm' },
                    lebel_html: { class: 'block mb-2 text-sm font-medium text-gray-900' },
                    input_html: { autocomplete: "new-password", class: 'bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' } %>
        <%= f.input :current_password,
                    required: true,
                    hint: "we need your current password to confirm your changes",
                    hint_html: { class: 'font-thin text-sm' },
                    lebel_html: { class: 'block mb-2 text-sm font-medium text-gray-900' },
                    input_html: { autocomplete: "current-password", class: 'bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class:'w-full text-white bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center' %>
      </div>
      <div>
        <%= button_to "Delete Account", registration_path(resource_name), class: 'w-full text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center', data: { confirm: 'Are you sure?', turbo_confirm: "Are you sure?" }, method: :delete %>
      </div>
    <% end %>
  </div>
</div>
