<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flex flex-col">
    <div class="my-5">
      <%= form.text_area :tweet, autofocus: true, placeholder:"What's happening?", class: "resize-none overflow-hidden block text-lg bg-transparent placeholder:text-black/60 placeholder:text-xl outline-none px-3 w-full" %>
    </div>

    <div class="inline self-end">
      <%= form.submit "Woff" , class: "bg-sky-500 text-white font-medium rounded-full hover:bg-sky-600 py-1.5 px-5" %>
    </div>
  </div>

<% end %>
