<div class="w-full max-w-xl p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'space-y-6' }) do |f| %>
    <%= f.error_notification %>

    <h2 class="text-2xl font-medium text-gray-900">Forgot your password?</h2>

    <div class="form-inputs space-y-6">
      <%= f.input :email,
                    required: true,
                    autofocus: true,
                    lebel_html: { class: 'block mb-2 text-sm font-medium text-gray-900' },
                    input_html: { autocomplete: "email", class: 'bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' }%>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Send me reset password instructions", class: 'w-full text-white bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center' %>
    </div>
    <div class="text-sm font-medium text-gray-500 flex flex-col gap-1.5">
      <%= link_to "Sign Up", new_user_registration_path, class: 'text-sky-500 hover:underline' %>
      <%= link_to "Log In", new_user_session_path, class: 'text-sky-500 hover:underline' %>
    </div>
  <% end %>
</div>
