<div class="w-full max-w-xl p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html=> { :class=> 'space-y-6' }) do |f| %>
    <h2 class="text-2xl font-medium text-gray-900">Log in</h2>
    <div class="form-inputs space-y-6">
      <%= f.input :email,
                    required: false,
                    autofocus: true,
                    lebel_html: { class: 'block mb-2 text-sm font-medium text-gray-900' },
                    input_html: { autocomplete: "email", class: 'bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' }%>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password", class: 'bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5' } %>
    </div>

    <div>
      <%= link_to "Lost password?", new_password_path(resource_name), class: 'ml-auto text-sm text-sky-500 hover:underline' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: 'w-full text-white bg-sky-500 hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center' %>
    </div>
    <div class="text-sm font-medium text-gray-500">
      Not registered? <%= link_to "Create account", new_user_registration_path, class: 'text-sky-500 hover:underline' %>
    </div>
  <% end %>
  
</div>

